name: "npm publish"

on:
    push:
        branches: 
           - master

jobs:
    release:
        name: publish
        runs-on: ubuntu-latest
        steps:
              - uses: actions/checkout@v2
              - uses: actions/setup-node@v1
                with:
                  node-version: 14.6.0
                  registry-url: https://registry.npmjs.org
              - run: npm install
              - run: npm publish
                env:
                 NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
